body{
    color:#40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
hr{
    border: dotted grey 5px;
    border-bottom:none;
    width: 4%;
    margin: 100px auto;
}
h1{
    color:#66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    line-height: 2;
    margin: 50px auto 0 auto;
}
h2{
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}
.pro{
    text-decoration: underline;
}
.intro{
    width: 30%;
    margin:0 auto;
}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
p{
    line-height: 2;
}
.job-skill{
    font-weight: normal;
}
.top-container{
    background-color: #e4f9f8;
    position: relative;
    padding-top:100px;
}
.middle-container{
    margin:100px 0;
}
.profile-image, .skills-computer{
    border-radius: 100%;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top:40px;
}
.bottom-cloud{
    position: absolute;
    left:250px;
    bottom: 300px;
}
.skill-row{
    width: 50%;
    margin:100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.skills-computer{
    float: left;
    margin-right: 30px;
    width: 25%;
}
.skills-chillies{
    float: right;
    margin-left: 30px;
    width: 25%;
}
.bottom-container{
    background-color:#66BFBF;
    padding: 50px 0 20px;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color:#EAf6f6;
}
.btn {
	-moz-box-shadow:inset 0px 0px 0px -25px #bee2f9;
	-webkit-box-shadow:inset 0px 0px 0px -25px #bee2f9;
	box-shadow:inset 0px 0px 0px -25px #bee2f9;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11999e), color-stop(1, #2bc4ad) );
	background:-moz-linear-gradient( center top, #11999e 5%, #2bc4ad 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999e', endColorstr='#2bc4ad');
	background-color:#11999e;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
	text-indent:0px;
	border:1px solid #fafcff;
	display:inline-block;
	color:#000000;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:normal;
	font-style:normal;
	height:50px;
	line-height:50px;
	width:152px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #7cacde;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2bc4ad), color-stop(1, #11999e) );
	background:-moz-linear-gradient( center top, #2bc4ad 5%, #11999e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2bc4ad', endColorstr='#11999e');
	background-color:#2bc4ad;
}.btn:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */
.copyright{
    color: #EAf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}